.filter-transactions__container {
  display: flex;
  flex-direction: column;
}

.filter-transactions__show-filters {
  cursor: pointer;

  width: 80px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 4px;
  margin-bottom: 25px;

  border: none;
  
  background-color: #fafafa;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);

  font-weight: 700;
  font-size: 1.2rem;
}

.filter-transactions__categories-container {
  width: 100%;

  padding: 25px 0 14px 32px;
  margin-bottom: 60px;

  border-radius: 10px;

  background-color: #fafafa;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
}

.filter-transactions__categories-container h4 {
  padding-left: 4px;
  margin-bottom: 20px;

  font-family: var(--fs-rubik);
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;

  color: #b9b9b9;
}

.filter-transactions__categories-list {
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;

  gap: 12px;
}

.filter-transactions__category-item {
  cursor: pointer;

  width: 100px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 4px 10px;

  border-radius: 10px;

  background-color: #fafafa;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
}

.filter-transactions__category-item span {
  max-width: 70%;

  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;

  color: #000000;
}

.filter-transactions__category-item img {
  height: 6px;
}

.filter-transactions__clear-filter,
.filter-transactions__apply-filter {
  cursor: pointer;

  margin-top: 18px;
  padding: 8px 12px;

  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);

  font-family: var(--fs-lato);
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.filter-transactions__clear-filter {
  background-color: #fafafa;
  color: #000000;
}

.filter-transactions__apply-filter {
  margin-left: 18px;

  background-color: #7978d9;
  color: #ffffff;
}

.selected {
  background-color: #7978d9;
}

.selected span {
  color: #ffffff;
}

.not-selected {
  background-color: #fafafa;
}

.not-selected span {
  color: #000000;
}
