.table-transactions {
  width: 100%;
  overflow-x: scroll;
  border-collapse: collapse;
}

.table-transactions__header-desktop {
  border-radius: 10px;

  background-color: #fafafa;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
}

.table-transactions__header-mobile {
  display: none;

  max-width: fit-content;

  padding: 0 8px;

  background-color: #fafafa;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
}

.table-transactions__header-mobile th {
  font-size: 2rem;
  font-weight: 600;
  color: #443b3b;

  height: 10px;
}

.table-transactions th,
.table-transactions td {
  padding: 20px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.table-transactions th,
.table-transactions td {
  font-family: var(--fs-rubik);
  text-align: center;
}

.table-transactions th:first-of-type,
.table-transactions td:first-of-type {
  text-align: left;
  padding-left: 15px;
}

.table-transactions th:first-of-type {
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 4px;
}

.table-transactions__descending-arrow {
  transform: rotate(180deg);
}

.table-transactions__transaction-amount--blue,
.table-transactions__transaction-amount--yellow {
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.table-transactions__transaction-amount--blue {
  color: #7b61ff;
}

.table-transactions__transaction-amount--yellow {
  color: #fa8c10;
}

.table-transactions tbody tr img {
  cursor: pointer;
}

.table-transactions tbody tr td:last-of-type {
  position: relative;
}

.table-transactions td:last-of-type img:first-of-type {
  margin-right: 12px;
}

.table-transactions td {
  border-bottom: 1px solid #e0e0e0;
}

@media screen and (max-width: 730px) {
  .table-transactions__header-desktop {
    display: none;
  }

  .table-transactions__header-mobile {
    display: block;
  }

  .table-transactions,
  .table-transactions tbody,
  .table-transactions tr,
  .table-transactions td {
    width: 100%;
    max-width: none;

    display: block;
  }

  .table-transactions tr {
    margin-bottom: 15px;
  }

  .table-transactions tr:first-of-type td:first-of-type {
    border-top: 1px solid #9c9797;
  }

  .table-transactions td:last-of-type {
    border-bottom: 1px solid #9c9797;
  }

  .table-transactions td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .table-transactions td:first-of-type {
    text-align: right;
  }

  .table-transactions td:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;
    padding-left: 0;
  }

  .table-transactions td:last-of-type img {
    height: 30px;
  }

  .table-transactions td::before {
    content: attr(data-label);

    width: 50%;

    position: absolute;
    left: 0;

    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;

    color: #000000;
  }
}
