.main__content {
  display: flex;
  justify-content: space-around;

  width: 100%;
  min-height: 100vh;

  padding: 55px 80px;
  border-radius: 60px 60px 0 0;
  background: #ffffff;

  margin-top: -118px;
}

.main__left {
  width: 70%;
  font-family: 'Lato', sans-serif;
}

.main__right {
  margin-top: 52px;
}

.cursor-pointer {
  cursor: pointer;
}
