.main__content {
  display: flex;
  justify-content: space-around;

  width: 100%;
  min-height: 100vh;

  padding: 55px 80px;
  border-radius: 60px 60px 0 0;
  background: #ffffff;

  margin-top: -118px;
}

.main__left {
  width: 70%;
  font-family: 'Lato', sans-serif;
}

.table-header {
  display: flex;
  align-items: center;

  height: 58px;
  border-radius: 10px;
  padding-left: 28px;

  background-color: #fafafa;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
}

.table-header span {
  font-weight: 700;
  font-size: 14px;

  margin-right: 109px;
}

.table-header span img {
  margin-bottom: 2px;
}

.resumo-container {
  margin-top: 52px;
}

.resumo {
  font-family: 'Rubik', sans-serif;

  width: 236px;
  height: 196px;

  padding: 26px 33px 21px 33px;
  border-radius: 10px;

  background-color: #fafafa;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
}

.resumo h2 {
  font-weight: 700;
  font-size: 18px;

  margin-bottom: 23px;
}

.resumo-entrada,
.resumo-saida {
  margin-bottom: 12px;
}

.resumo-entrada,
.resumo-saida {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 13px;
}

.resumo-entrada p {
  color: #645ffb;
}

.resumo-saida p {
  color: #fa8c10;
}

.resumo hr {
  opacity: 20%;
  margin-top: 7px;
  margin-bottom: 16px;
}

.resumo-saldo {
  display: flex;
  justify-content: space-between;

  font-size: 14px;
}

.resumo-saldo span {
  font-weight: 700;
}

.resumo-saldo p {
  font-weight: 500;
  color: #3a9ff1;
}

.resumo-container button {
  padding: 14px 0;
  margin-top: 16px;
  width: 100%;

  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 14px;

  border: none;
  border-radius: 5px;

  background-color: #7978d9;
  color: #ffffff;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}
