.edit-transaction__header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 2.5rem;
  margin-bottom: 5%;
}

.edit-transaction__header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.3rem;
}

.edit-transaction__btn-close {
  cursor: pointer;

  position: absolute;
  top: 25px;
  right: 25px;
}

.edit-transaction__select-type {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 2rem;
}

.edit-transaction__select-type button {
  cursor: pointer;

  width: 50%;
  height: 40px;

  border: none;

  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;

  color: #ffffff;
}

.edit-transaction__cash-in,
.edit-transaction__cash-out {
  background-color: #b9b9b9;
}

.edit-transaction__cash-in {
  border-radius: 10px 0px 0px 10px;
}

.edit-transaction__cash-out {
  border-radius: 0px 10px 10px 0px;
}

.edit-transaction__cash-in--selected {
  background-color: #3a9ff1;
  border-radius: 10px 0px 0px 10px;
}

.edit-transaction__cash-out--selected {
  background-color: #ff576b;
  border-radius: 0px 10px 10px 0px;
}

.edit-transaction__form {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.edit-transaction__form label {
  margin-bottom: 1rem;

  font-weight: 500;
  font-size: 2.4rem;

  color: #484848;
}

.edit-transaction__form input {
  width: 100%;
  height: 40px;

  padding: 0 15px;
  margin-bottom: 2%;

  border-radius: 5px;
  border: 1px solid #484848;

  font-size: 1.8rem;
  color: #484848;
}

.edit-transaction__form select {
  width: 100%;
  height: 40px;

  padding: 0 15px;
  margin-bottom: 2%;

  border-radius: 5px;
  border: 1px solid #484848;

  appearance: none;
  background-image: url('../../../assets/arrow-select.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 19px);

  font-size: 1.8rem;

  color: #484848;
}

.edit-transaction__form button {
  cursor: pointer;

  width: 60%;

  align-self: center;

  margin-top: 5%;
  margin-bottom: 5%;
  padding: 12px 0;

  border: none;
  border-radius: 5px;

  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;

  background-color: #7978d9;
  color: #ffffff;
}

.edit-transaction__error {
  font-size: 1.2rem;

  color: #ff0000;
}

@media screen and (max-width: 500px) {
  .edit-transaction__header h1 {
    margin-bottom: 5%;
  }
  
  .edit-transaction__form input {
    margin-bottom: 5%;
  }

  .edit-transaction__form button {
    margin-top: 5%;
  }
}