.modal-backdrop {
  width: 100%;
  min-height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(145, 154, 150, 0.3);
  backdrop-filter: blur(4px);
}

.modal-form__container {
  width: 80%;
  max-width: 500px;
  height: 600px;
  max-height: 95vh;

  overflow-y: scroll;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 50px;
  border-radius: 20px;

  background-color: #ffffff;

  font-family: var(--fs-rubik);
}

.modal-form__container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 500px) {
  .modal-form__container {
    padding: 0 30px;
  }
}


.modal-confirm-operation {
  width: 80%;
  min-height: 400px;
  max-width: 600px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2.5% 4%;

  border-radius: 30px;

  background: white;

  font-family: var(--fs-rubik);
}

.modal-message__container {
  height: 70%;
  width: 80%;
  max-width: 600px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 5%;
  padding: 2.5% 4%;

  border-radius: 30px;

  background-color: white;

  font-family: var(--fs-rubik);
}