.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* padding-top: 42px; */
    
    height: 224px;
    
    background: linear-gradient(90.23deg, #05EDE3 0.02%, #645FFB 99.63%);

    position: relative;
}

.header__logo {
    height: 45px;

    margin-left: 100px;
}

.header__profile-area {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.header__profile-logo {
    cursor: pointer;

    width: 56px;
}

.header__profile-name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7rem;

    color: #FFFFFF;
}

.logout-logo {
    width: 22px;

    margin-left: 16px;
}