.sign-up {
  width: 100%;
  min-height: 100vh;

  padding-top: 30px;

  overflow-y: scroll;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
      180deg,
      rgba(5, 237, 227, 0.5) 0%,
      rgba(100, 95, 251, 0.5) 100%,
      rgba(100, 95, 251, 0.5) 100%
    ),
    url(../../assets/background.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: var(--fs-rubik);
}

.sign-up__header {
  position: absolute;
  top: 20px;
  left: 20px;
}

.sign-up__form {
  width: 470px;

  display: flex;
  flex-direction: column;

  padding: 30px 32px;

  border-radius: 8px;

  background-color: #ffffff;
}

.sign-up__form h2 {
  font-weight: 500;
  font-size: 2.8rem;

  align-self: center;
  margin-bottom: 18px;
  color: #7978d9;
}

.sign-up__form form {
  display: flex;
  flex-direction: column;

  position: relative;

  margin-bottom: 8px;
}

.sign-up__form label {
  margin-bottom: 0.5rem;

  font-weight: 400;
  font-size: 1.8rem;

  color: #484848;
}

.sign-up__form input {
  height: 43px;

  margin-bottom: 5%;

  padding-left: 15px;

  border: 1px solid #555555;
  border-radius: 5px;

  font-size: 2rem;

  color: #484848;
}

.sign-up__form button {
  cursor: pointer;
  
  height: 43px;
  margin-top: 7px;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;

  border: none;
  border-radius: 5px;

  background-color: #7978d9;
  color: #ffffff;
  opacity: 1;

  font-family: var(--fs-rubik);
}

.sign-up__form button:hover {
  opacity: 0.9;
}

.sign-up__form a {
  cursor: pointer;

  text-align: center;

  font-weight: 700;

  color: #7978d9;
}

.sign-up__error-message {
  font-size: 1.6rem;

  color: #ff0000;
}

@media screen and (max-width: 1024px) {
  .sign-up__header {
    width: 180px;
  }
}

@media screen and (max-width: 768px) {
  .sign-up {
    padding-top: 60px;
  }

  .sign-up__header {
    top: 15px;
    left: auto;
  }

  .sign-up__form h2 {
    margin-bottom: 40px;
  }

  .sign-up__form input {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 580px) {
  .sign-up__form {
    width: 300px;
    padding: 20px 20px;
    margin: 20px 0;
  }

  .sign-up__form h2 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 350px) {
  .sign-up {
    padding-top: 50px;
  }

  .sign-up__form {
    width: 250px;
  }
}