.logo {
    display: flex;
    align-items: center;
    gap: 13px;

    color: white;
}

.logo h1 {
    font-size: 3.6rem;
}

.logo img {
    width: 45px;
    height: 45px;
}

@media screen and (max-width: 768px) {
    .logo {
        gap: 20px;
    }

    .logo h1 {
        font-size: 4.6rem;
    }

    .logo img {
        width: 70px;
        height: 70px;
    }
}